
body {
	background-image: url(../images/mainbg.jpg);
	background-repeat: repeat-x;
}
.p001 {
	clear: both;
	height: 100px;
	width: 988px;
	margin-right: auto;
	margin-left: auto;
}
.p001 .p002 {
	background-image: url(../images/899.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 465px;
	height: 100px;
}
.p001 .p003 {
	background-image: url(../images/898.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 523px;
	height: 100px;
}
.p004 {
	background-image: url(../images/menubg.jpg);
	clear: both;
	height: 56px;
	margin-right: auto;
	margin-left: auto;
}
.p004 li {
	line-height: 56px;
	float: left;
	width: 116px;
	text-align: center;
}
.p004 ul {
	margin-left: 30px;
}
.p004 a {
	font-size: 14px;
	font-weight: bold;
	color: #006796;
	text-decoration: none;
}
.p004 .p005 {
	background-image: url(../images/896.jpg);
	background-repeat: no-repeat;
	background-position: center 6px;
}
.p004 .p005 a {
	color: #FFFFFF;
}
.p006 {
	background-image: url(../images/895.jpg);
	background-repeat: no-repeat;
	clear: both;
	height: 30px;
	width: 988px;
	margin-right: auto;
	margin-left: auto;
}
.p007 {
	display: block;
	clear: both;
	width: 988px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.p007 .p008 {
	float: left;
	width: 25px;
	background-image: url(../images/892.jpg);
	margin-bottom: -10000px;
	padding-bottom: 10000px;
}
.p007 .p008 ul {
	background-image: url(../images/894.jpg);
	background-repeat: no-repeat;
	height: 442px;
	width: 25px;
}

.p007 .p010 {
	float: left;
	width: 25px;
	background-image: url(../images/891.jpg);
	margin-bottom: -10000px;
	padding-bottom: 10000px;
}
.p007 .p010 ul {
	background-image: url(../images/893.jpg);
	background-repeat: no-repeat;
	height: 442px;
	width: 25px;
}

.p007 .p009 {
	float: left;
	width: 938px;
	background-color: #FFFFFF;
}
.p011 {
	background-image: url(../images/890.jpg);
	background-repeat: no-repeat;
	clear: both;
	height: 25px;
	width: 988px;
	margin-right: auto;
	margin-left: auto;
}
.p007 .p009 .l001 {
	width: 938px;
	clear: both;
	overflow: hidden;
}
.p007 .p009 .l001 .l002 {
	float: left;
	width: 372px;
}
.p007 .p009 .l001 .l002 .l003 {
	background-image: url(../images/889.jpg);
	background-repeat: no-repeat;
	background-position: top;
}
.p007 .p009 .l001 .l002 .l003 label {
	font-size: 14px;
	font-weight: bold;
	color: #006796;
	line-height: 40px;
	display: block;
	clear: both;
	text-indent: 60px;
}
.p007 .p009 .l001 .l005 {
	float: left;
	width: 280px;
	margin-right: 10px;
	margin-left: 10px;
	display: block;
	height: 440px;
}
.p007 .p009 .l001 .l006 {
	float: left;
	width: 264px;
	border: 1px solid #E8E8E8;
}
.p007 .p009 .l001 .l006 label {
	background-image: url(../images/887.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #006697;
	text-indent: 40px;
	clear: both;
	width: 264px;
	height: 32px;
	margin-bottom: 10px;
}
.p007 .p009 .l001 .l006 p {
	margin-bottom: 10px;
}

.p007 .p009 .l001 .l006 ul {
	text-align: center;
}
.p007 .p009 .l001 .l006 li {
	margin-top: 5px;
	margin-bottom: 5px;
}
.p007 .p009 .l001 .l006 dt {
	display: block;
	float: left;
	width: 112px;
}
.p007 .p009 .l001 .l006 dd {
	display: block;
	float: left;
	width: 128px;
	margin-left: 10px;
	font-size: 12px;
	color: #000000;
	text-indent: 30px;
}
.p007 .p009 .l001 .l006 div {
	font-size: 12px;
	color: #01669A;
}

.p007  .p009  .l001  .l006  dl {
	display: block;
	margin-right: 7px;
	margin-left: 7px;
	clear: both;
	width: 250px;
}
.p007 .p009 .l008 {
	display: block;
	clear: both;
	overflow: hidden;
	width: 938px;
}

.p007  .p009  .l007  {
	clear: both;
	margin-bottom: 10px;
	height: 41px;
	width: 938px;
	margin-top: 10px;
}
.p007 .p009 .l008 .l009 {
	display: block;
	float: left;
	width: 306px;
	overflow: hidden;
	height: 240px;
}
.p007 .p009 .l008 .l009 sup {
	font-size: 14px;
	line-height: 40px;
	font-weight: bold;
	color: #01669A;
	background-image: url(../images/880.jpg);
	background-repeat: no-repeat;
	text-indent: 26px;
	display: block;
	height: 40px;
	width: 306px;
	font-size:17px\9;
}
.p007 .p009 .l008 .l009 .l010 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #75C1FF;
	border-bottom-color: #75C1FF;
	border-left-color: #75C1FF;
}
.p007 .p009 .l008 .l009 .l011 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #75C1FF;
	border-bottom-color: #75C1FF;
	border-left-color: #75C1FF;
}
.p012 {
	color: #006799;
	clear: both;
	width: 988px;
	margin-right: auto;
	margin-left: auto;
	line-height: 30px;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.p014 {
	line-height: 32px;
	background-image: url(../images/879.jpg);
	height: 32px;
	width: 936px;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	color: #000000;
	text-indent: 26px;
	display: block;
	clear: both;
	margin-bottom: 10px;
}
.p007 .p009 .p014 a {
	color: #000000;
	text-decoration: none;
}
.p007 .p009 .p014 a:hover {
	color: #006799;
	text-decoration: underline;
}
.p007 .p009 .c001 .c002 {
	float: left;
	width: 224px;
}
.p007 .p009 .c001 .c002 .c003 {
	line-height: 1px;
	background-image: url(../images/877.jpg);
	background-repeat: no-repeat;
	clear: both;
	height: 11px;
	width: 224px;
}
.p007 .p009 .c001 .c002 .c004 {
	width: 222px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #75C1FF;
	border-bottom-color: #75C1FF;
	border-left-color: #75C1FF;
}
.p007 .p009 .c001 .c002 .c004 a {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
.p007 .p009 .c001 .c002 .c004 a:hover {
	color: #036497;
	text-decoration: underline;
}

.p007 .p009 .c001 .c002 .c004 li {
	line-height: 36px;
	text-align: right;
	display: block;
	margin-right: 46px;
}
.p007 .p009 .c001 .c002 .c004 ul {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.p013 {
	color: #000000;
	height: 155px;
	width: 936px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	margin-bottom: 10px;
}
.p007 .p009 .c001 .c002 .c004 .c005 {
	background-image: url(../images/876.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.p007 .p009 .c001 .c006 {
	float: left;
	width: 700px;
	margin-left: 12px;
	font-size: 14px;
}
.p007 .p009 .c001 .c006 p {
	text-indent: 30px;
	line-height:30px;
	margin-left:10px;
	margin-right:10px;
}
.c006 h1{
	text-align:center;
	color:#009900;
	font-size:18px;
	font-weight: bold;
	margin-bottom:10px;
}
.p007  .p009  .c001  .c002  .c007 {
	width: 222px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #75C1FF;
	border-bottom-color: #75C1FF;
	border-left-color: #75C1FF;
}
.p007 .p009 .c001 .c002 .c007 ul {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.p007 .p009 .c001 .c002 .c007 li {
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	line-height: 40px;
	background-image: url(../images/874.jpg);
	background-repeat: no-repeat;
	background-position: 30px center;
	text-indent: 50px;
}
.p007 .p009 .c001 .c002 .c007 a {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
.p007 .p009 .c001 .c002 .c007 a:hover {
	color: #036497;
	text-decoration: underline;
}
.p007 .p009 .c001 .c002 .c007 .c008 {
	font-weight: bold;
}
.p007   .p009   .c001   .c002   .c009 {
	width: 222px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #75C1FF;
	border-bottom-color: #75C1FF;
	border-left-color: #75C1FF;
}
.p007  .p009  .c001  .c010 {
	float: left;
	width: 700px;
	margin-left: 12px;
	font-size: 14px;
}
.p007 .p009 .c001 .c002 .c009 label {
	font-size: 14px;
	font-weight: bold;
	color: #036497;
	background-image: url(../images/871.jpg);
	background-position: bottom;
	display: block;
	background-repeat: no-repeat;
	line-height: 40px;
	text-indent: 30px;
	clear: both;
	margin-bottom: 10px;
}
.p007 .p009 .c001 .c002 .c009 ul {
	display: block;
	margin-bottom: 15px;
}

.p007 .p009 .c001 .c002 .c009 li {
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}
.p007 .p009 .c001 .c010 .c011 img {
	height: 150px;
	width: 215px;
	border: 1px solid #949494;
	padding: 5px;
}
.p007 .p009 .c001 .c010 .c011 p {
	display: block;
	float: left;
	margin-right: 15px;
}
.p007 .p009 .c001 .c010 .c011 a {
	font-size: 14px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
	line-height: 34px;
}
.p007 .p009 .c001 .c010 .c011 div {
	font-size: 14px;
}
.p007 .p009 .c001 .c010 .c011 a:hover {
	color: #006697;
	text-decoration: none;
}

.p007 .p009 .c001 .c010 .c011 li {
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	overflow: hidden;
	clear: both;
	margin-bottom: 10px;
	padding-bottom: 10px;
	height: 166px;
}
.p007 .p009 .c001 .c010 .c012 {
	clear: both;
}
.p015 strong {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.p015 {
	line-height: 36px;
	text-align: center;
}
.p015 a {
	font-size: 14px;
	color: #006697;
	text-decoration: none;
}
.p015 a:hover {
	font-size: 14px;
	color: #000000;
	text-decoration: underline;
}
.p007 .p009 .c001 .c010 h1 {
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
	text-align: center;
	color: #000000;
}
.p007 .p009 .c001 .c010 .p016 p {
	margin-top: 10px;
	margin-bottom: 10px;
}
.p007 .p009 .c001 .c010 .c013 {
	clear: both;
	width: 700px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #75C1FF;
	border-bottom-color: #75C1FF;
	border-left-color: #75C1FF;
}
.p007 .p009 .c001 .c010 .c013 dl {
	clear: both;
	display: block;
	margin-left: 40px;
}
.p007 .p009 .c001 .c010 .c013 dt {
	font-size: 14px;
	color: #666666;
	float: left;
	line-height: 40px;
	height: 40px;
}
.p007 .p009 .c001 .c010 .c013 dd input {
	vertical-align: middle;
	background-color: #F9FBF0;
	padding: 4px;
	width: 240px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #C9C9C9;
	border-bottom-color: #C9C9C9;
	border-left-color: #999999;
}
.p007 .p009 .c001 .c010 .c013 dd textarea {
	vertical-align: middle;
	background-color: #F9FBF0;
	padding: 4px;
	width: 240px;
	height: 70px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #C9C9C9;
	border-bottom-color: #C9C9C9;
	border-left-color: #999999;
}
.p007 .p009 .c001 .c010 .c013 form {
	margin: 0px;
	padding: 40px;
}
.p007 .p009 .c001 .c010 .c013 dd {
	float: left;
	margin-left: 10px;
}
.p007 .p009 .c001 .c010 .c013 .c014 {
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.p007 .p009 .c001 .c015 {
	float: left;
	width: 702px;
	margin-left: 10px;
}
.p007 .p009 .c001 .c015 .c016 {
	width: 700px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #75C1FF;
	border-bottom-color: #75C1FF;
	border-left-color: #75C1FF;
}
.p007 .p009 .c001 .c015 .c016 img {
	padding: 4px;
	height: 100px;
	width: 140px;
	border: 1px solid #CCCCCC;
}
.p007 .p009 .c001 .c015 .c016 p {
	display: block;
	float: left;
	margin-right: 14px;
}
.p007 .p009 .c001 .c015 .c016 li {
	display: block;
	clear: both;
	overflow: hidden;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	height: 126px;
	padding-top: 10px;
}
.p007 .p009 .c001 .c015 .c016 ul {
	padding: 16px;
}

.p007 .p009 .c001 .c015 .c016 a {
	font-size: 14px;
	line-height: 40px;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
.p007 .p009 .c001 .c015 .c016 a:hover {
	color: #006796;
	text-decoration: none;
}

.p007 .p009 .c001 .c015 .c016 div {
	font-size: 12px;
	color: #666666;
}
.p007 .p009 .c001 .c015 .c017 {
	line-height: 50px;
}
.p007 .p009 .c001 .c015 .c018 ul {
	margin: 10px;
}
.p007 .p009 .c001 .c015 .c018 li {
	background-image: url(../images/856.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 36px;
	clear: both;
	text-indent: 10px;
}
.p007 .p009 .c001 .c015 .c018 a {
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}
.p007 .p009 .c001 .c015 .c018 a:hover {
	color: #00659B;
	text-decoration: underline;
}
.p007 .p009 .c001 .c015 .c018 span {
	float: right;
	*margin-top: -36px;
	color: #666666;
}
.p007 .p009 .c001 .c019 h1 {
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}
.p007 .p009 .c001 .c019 h2 {
	font-size: 14px;
	line-height: 30px;
	color: #999999;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
.p007 .p009 .c001 .c019 .c021 {
	font-size: 14px;
	color: #333333;
	padding: 10px;
}
.p007 .p009 .c001 .c022 {
	text-align: center;
	clear: both;
	margin-top: 20px;
	margin-bottom: 10px;
}
.p007 .p009 .c001 .c019 .c021 p {
	padding-top: 10px;
	padding-bottom: 10px;
}
.p007 .p009 .c001 .c023 {
	clear: both;
	margin-bottom: 10px;
	display: block;
	overflow: hidden;
}
.p007 .p009 .c001 .c023 label {
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #006796;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	margin-bottom: 10px;
}
.p007 .p009 .c001 .c023 li {
	line-height: 24px;
	float: left;
	width: 440px;
	background-image: url(../images/856.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 10px;
}
.p007 .p009 .c001 .c023 a {
	font-size: 14px;
	color: #006796;
	text-decoration: none;
}
.p007 .p009 .c001 .c002 .c009 .c024 ul {
	clear: both;
	width: 136px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}

.p007 .p009 .c001 .c023 a:hover {
	color: #333333;
}
.p007 .p009 .c001 .c002 .c009 .c024 li {
	background-image: url(../images/865.jpg);
	background-repeat: no-repeat;
	height: 40px;
	width: 136px;
	font-size: 14px;
	line-height: 34px;
}
.p007 .p009 .c001 .c002 .c009 .c024 a {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.p007 .p009 .c001 .c002 .c009 .c024 a:hover {
	color: #006796;
	text-decoration: none;
}
.p007 .p009 .c001 .c028 {
	float: left;
	width: 702px;
	margin-left: 10px;
	overflow: hidden;
}
.p007 .p009 .c001 .c028 .c025 {
	background-image: url(../images/871.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 14px;
	line-height: 32px;
	color: #006796;
	font-weight: bold;
	text-indent: 20px;
}
.p007 .p009 .c001 .c028 .c027 {
	clear: both;
	font-size: 14px;
	line-height: 32px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.p007 .p009 .c001 .c028 .c027 a {
	color: #FE6400;
	text-decoration: none;
	font-weight: bold;
}
.p007 .p009 .c001 .c028 .c026 img {
	padding: 5px;
	height: 150px;
	width: 214px;
	border: 1px solid #CCCCCC;
}
.p007 .p009 .c001 .c028 .c026 p {
	display: block;
	float: left;
	margin-right: 15px;
}
.p007 .p009 .c001 .c028 .c026 li {
	clear: both;
	height: 180px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	overflow: hidden;
	padding-top: 10px;
}
.p007 .p009 .c001 .c028 .c026 div {
	font-size: 14px;
	color: #333333;
}
.p007 .p009 .c001 .c028 .c026 a {
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
.p007 .p009 .c001 .c028 .c026 a:hover {
	color: #006796;
	text-decoration: none;
}
.p007 .p009 .c001 .c029 {
	float: left;
	width: 702px;
	margin-left: 10px;
	overflow: hidden;
}
.p007 .p009 .c001 .c029 h1 {
	font-size: 18px;
	line-height: 42px;
	font-weight: bold;
	color: #333333;
	text-align: center;
}
.p007 .p009 .c001 .c029 h2 {
	font-size: 14px;
	color: #333333;
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
.p007 .p009 .c001 .c029 .c031 {
	clear: both;
}
.p007 .p009 .c001 .c029 .c031 label {
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #FE6400;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	text-indent: 20px;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.p007 .p009 .c001 .c029 .c031 li {
	background-image: url(../images/856.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 15px;
	line-height: 26px;
	float: left;
	width: 340px;
}
.p007 .p009 .c001 .c029 .c031 a {
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}
.p007 .p009 .c001 .c029 .c031 a:hover {
	color: #036497;
	text-decoration: underline;
}

.p007 .p009 .c001 .c029 .c030 {
	font-size: 14px;
	color: #000000;
}
.p007 .p009 .c001 .c029 .c030 p {
	padding-top: 10px;
	padding-bottom: 10px;
}
.p007 .p009 .c001 .c029 .c031 ul {
	padding-bottom: 15px;
}
.p007 .p009 .c001 .c032 {
	float: left;
	width: 702px;
	margin-left: 10px;
}
.p007 .p009 .c001 .c032 h1 {
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}
.p007 .p009 .c001 .c032 .c033 {
	font-size: 14px;
	color: #333333;
}
.p007 .p009 .c001 .c032 .c033 p {
	padding-top: 10px;
	padding-bottom: 10px;
}
.p007 .p009 .c001 .c032 .c034 {
	clear: both;
	overflow: hidden;
}
.p007 .p009 .c001 .c032 .c034 label {
	background-image: url(../images/871.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #036497;
	display: block;
	margin-bottom: 10px;
	text-indent: 20px;
}
.p007 .p009 .c001 .c032 .c034 li {
	line-height: 26px;
	background-image: url(../images/856.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 10px;
	float: left;
	width: 340px;
}
.p007 .p009 .c001 .c032 .c034 a {
	font-size: 14px;
	color: #036497;
	text-decoration: none;
}
.p007 .p009 .c001 .c032 .c034 a:hover {
	color: #333333;
	text-decoration: underline;
}
.p007 .p009 .c001 .c032 .c034 ul {
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
}
.p007 .p009 .c001 .c002 .c009 .c035 li {
	line-height: 34px;
	background-image: url(../images/865.jpg);
	background-repeat: no-repeat;
	display: block;
	clear: both;
	height: 40px;
	width: 136px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.p007 .p009 .c001 .c002 .c009 .c035 a {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.p007 .p009 .c001 .c002 .c009 .c035 {
	display: block;
	clear: both;
	padding-top: 20px;
}
.p007 .p009 .c001 .c002 .c009 .c035 a:hover {
	color: #006796;
}
.p007 .p009 .c001 .c036 {
	float: left;
	width: 702px;
	overflow: hidden;
	margin-left: 10px;
}
.p007  .p009  .c001  .c036  .c042 {
	background-image: url(../images/863.jpg);
	background-repeat: no-repeat;
	background-position: top;
	font-size: 1px;
	line-height: 1px;
	clear: both;
	height: 8px;
	width: 702px;
}
.p007 .p009 .c001 .c036 .c037 {
	clear: both;
	width: 680px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #77C1FE;
	border-bottom-color: #77C1FE;
	border-left-color: #77C1FE;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 10px;
}
.p007 .p009 .c001 .c036 .c037 .c040 {
	clear: both;
	overflow: hidden;
	height: 182px;
}
.p007 .p009 .c001 .c036 .c037 .c040 .c038 {
	float: left;
	width: 220px;
	margin-right: 10px;
}
.p007 .p009 .c001 .c036 .c037 .c040 .c038 img {
	padding: 5px;
	height: 126px;
	width: 190px;
	border: 1px solid #CCCCCC;
}
.p007 .p009 .c001 .c036 .c037 .c040 .c038 h1 {
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}
.p007 .p009 .c001 .c036 .c037 .c040 .c038 a {
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}
.p007 .p009 .c001 .c036 .c037 .c040 .c038 a:hover {
	color: #036497;
}
.p007 .p009 .c001 .c036 .c037 .c040 .c039 div {
	font-size: 12px;
	color: #333333;
	margin-top: 12px;
}
.p007 .p009 .c001 .c036 .c037 .c040 .c039 font {
	font-size: 12px;
	color: #858585;
}
.p007 .p009 .c001 .c036 .c037 .c040 .c039 span {
	font-weight: bold;
	color: #980000;
}
.p007 .p009 .c001 .c036 .c037 .c040 .c039 h2 {
	font-size: 14px;
}
.p007 .p009 .c001 .c036 .c037 .c040 .c039 img {
	margin-right: 20px;
}
.p007 .p009 .c001 .c036 .c037 .c041 .c043 {
	font-size: 12px;
	background-color: #D8EDFF;
	text-align: center;
	line-height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #77C1FE;
}
.p007 .p009 .c001 .c036 .c037 .c041 .c044 {
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #77C1FE;
}
.p007 .p009 .c001 .c036 .c037 .c041 .c044 span {
	font-size: 12px;
	font-weight: bold;
	color: #930200;
}
.p007 .p009 .c001 .c045 {
	float: left;
	width: 702px;
	margin-left: 10px;
}
.p007  .p009  .c001  .c045  .c046  p img {
	padding: 4px;
	height: 80px;
	width: 120px;
	border: 1px solid #CCCCCC;
}
.p007 .p009 .c001 .c045 .c046 {
	background-image: url(../images/850.jpg);
	background-repeat: repeat-x;
	background-position: top;
	clear: both;
	height: 100px;
	width: 702px;
}
.p007 .p009 .c001 .c045 .c046 p {
	padding: 20px;
	float: left;
	display: block;
}
.p007 .p009 .c001 .c045 .c047 {
	background-image: url(../images/849.jpg);
	background-repeat: no-repeat;
	clear: both;
	height: 32px;
	width: 702px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-indent: 40px;
	line-height: 32px;
	margin-bottom: 10px;
}
.p007 .p009 .c001 .c045 .c046 ul {
	display: block;
	float: left;
	font-size: 12px;
	color: #323234;
	padding: 20px;
}
.p007 .p009 .c001 .c045 .c046 h1 {
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
}
.p007 .p009 .c001 .c045 .c048 {
	font-size: 12px;
	color: #333333;
}
.p007 .p009 .c001 .c045 .c048 p {
	padding-top: 10px;
	padding-bottom: 10px;
}
.p007 .p009 .c001 .c045 .c050 {
	font-size: 0px;
	line-height: 0px;
	background-image: url(../images/863.jpg);
	background-repeat: no-repeat;
	height: 8px;
	width: 702px;
	clear: both;
}
.p007 .p009 .c001 .c045 .c051 {
	width: 700px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #75C1FF;
	border-bottom-color: #75C1FF;
	border-left-color: #75C1FF;
	overflow: hidden;
}
.p007 .p009 .c001 .c045 .c051 ul {
	padding: 15px;
	overflow: hidden;
}
.p007 .p009 .c001 .c045 .c051 label {
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #333333;
	text-indent: 20px;
	display: block;
	clear: both;
}
.p007 .p009 .c001 .c045 .c051 p {
	padding: 5px;
}
.p007 .p009 .c001 .c045 .c051 li {
	float: left;
	text-align: center;
}
.p007 .p009 .c001 .c045 .c051 a {
	font-size: 12px;
	color: #016798;
	text-decoration: none;
	line-height: 24px;
}

.p007 .p009 .c001 .c045 .c051 img {
	padding: 3px;
	width: 115px;
	border: 1px solid #CCCCCC;
	height: 90px;
}
.p007  .p009  .c001  .c045  .c049  {
	width: 700px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	font-size: 12px;
	margin-bottom: 15px;
}
.p007 .p009 .c001 .c045 .c049 .c052 {
	background-color: #D8EDFF;
	height: 30px;
	width: 700px;
}

.c049  tt     {
	display: block;
	float: left;
	width: 200px;
	font-size: 12px;
	color: #323232;
	line-height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #77C1FE;
	text-indent: 10px;
}
.c049  s,.c049  font ,.c049  span  ,.c049  label   ,.c049   u  {
	display: block;
	float: left;
	width: 100px;
	font-size: 12px;
	color: #323232;
	line-height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #77C1FE;
}
.c049 span {
	font-weight: bold;
	color: #950000;
}
.c049 u {
	text-decoration: none;
	text-align: center;
}
.p007 .p009 .l008 .l009 .l010 a {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.p007 .p009 .l008 .l009 .l010 a:hover {
	font-size: 12px;
	color: #00659B;
	text-decoration: underline;
}
.p007 .p009 .l008 .l009 .l010 li {
	line-height: 23px;
	background-image: url(../images/856.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 12px;
}
.p007 .p009 .l008 .l009 .l010 ul {
	display: block;
	clear: both;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	overflow: hidden;
}
.s001 {
	display: block;
	width: 360px;
}
.s001:visited{
	font-size: 14px;
	line-height: 28px;
	font-weight: bold;
	color: #00659B;
	text-align: center;
}
.s001:link{
	font-size: 14px;
	line-height: 28px;
	font-weight: bold;
	color: #00659B;
	text-align: center;
}
.s001:hover{
	color: #333333;
}
.p007 .p009 .l001 .l002 .l003 .c053 {
	width: 360px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	overflow: hidden;
	padding-bottom: 6px;
}
.p007 .p009 .l001 .l002 .l003 .c053 img {
	padding: 2px;
	height: 44px;
	width: 62px;
	border: 1px solid #CCCCCC;
}
.p007 .p009 .l001 .l002 .l003 .c053 p {
	display: block;
	float: left;
	margin-right: 10px;
}
.p007 .p009 .l001 .l002 .l003 .c053 div {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #727272;
}
.p007 .p009 .l001 .l002 .l003 .c053 li {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	width: 360px;
	overflow: hidden;
	padding-top: 1px;
	padding-bottom: 2px;
}
.c054     img,.c056   img,.c0561  img       {
	padding: 2px;
	height: 52px;
	width: 72px;
	border: 1px solid #CCCCCC;
}
.c054 p {
	display: block;
	float: left;
	margin-right: 10px;
}

.c054 {
	width: 280px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	overflow: hidden;
	padding-bottom: 6px;
}
.c054 h3 a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.c054 h3 a:hover{
	color: #006998;
}
.c054 h3{
	line-height: 22px;
}
.c054 h4{
	font-size: 12px;
	color: #FF6400;
}
.c054 h4 span{
	font-size: 14px;
	font-weight: bold;
	margin-left: 40px;
}
.c054 h5{
	font-size: 12px;
	color: #737373;
}
.c055 {
	width: 280px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	clear: both;
	padding-top: 8px;
	padding-bottom: 8px;
}
.c055 li {
	background-image: url(../images/856.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	clear: both;
	width: 280px;
	overflow: hidden;
	line-height: 22px;
	_line-height: 19px;
}
.c055  label       {
	display: block;
	float: left;
	width: 70px;
	font-size: 12px;
	color: #343434;
	text-indent: 10px;
}
.c055 a {
	display: block;
	float: left;
	width: 150px;
	font-size: 12px;
	color: #343434;
}
.c055 a:hover{
	color: #016597;
	text-decoration: underline;
}
.c055   font,.c055  span {
	display: block;
	float: left;
	width: 50px;
	font-size: 12px;
	font-weight: bold;
	color: #FF6400;
}
.c056, .c057,.c058,.c059,.c0561 {
	display: block;
	clear: both;
	width: 280px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.c056 {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding-bottom: 9px;
	_padding-bottom: 7px;

	
}
.c056 p {
	display: block;
	float: left;
	margin-right: 10px;
}
.c056 a {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.c056 a:hover {
	color: #006897;
	text-decoration: none;
}
.c056 div {
	font-size: 12px;
	color: #727272;
}



.c0561 {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding-bottom: 9px;
	_padding-bottom: 7px;

	
}
.c0561 p {
	display: block;
	float: left;
	margin-right: 10px;
}
.c0561 a {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.c0561 a:hover {
	color: #006897;
	text-decoration: none;
}
.c0561 div {
	font-size: 12px;
	color: #727272;
}

.c057 a {
	font-size: 12px;
	color: #343434;
	display: block;
}
.c057 a:hover {
	color: #00659C;
	text-decoration: underline;
}

.c057 li {
	background-image: url(../images/856.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 10px;
	line-height: 22px;
	_line-height: 19px;
	display: block;
	clear: both;
	width: 280px;
}
.c057 {
	padding-top: 8px;
	padding-bottom: 8px;
}
.c058 p {
	display: block;
	float: left;
	margin-right: 10px;
}
.c058      a    {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #343434;
}
.c058 h3 {
	font-size: 12px;
	color: #727272;
}
.c058 span {
	font-size: 12px;
	color: #FD6300;
}
.c058 h2 {
	font-size: 14px;
}
.c058 {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding-bottom: 5px;
}
.c059  li {
	background-image: url(../images/856.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	clear: both;
	width: 280px;
	overflow: hidden;
	line-height: 22px;
	_line-height: 19px;
}
.c059   label       {
	display: block;
	float: left;
	width: 70px;
	font-size: 12px;
	color: #343434;
}
.c059  a {
	display: block;
	float: left;
	width: 130px;
	font-size: 12px;
	color: #343434;
	text-indent: 10px;
}
.c059  a:hover{
	color: #016597;
	text-decoration: underline;
}
.c059     span   {
	display: block;
	float: left;
	width: 80px;
	font-size: 12px;
	font-weight: bold;
	color: #FF6400;
}
.c059 ul {
	padding-top: 10px;
	padding-bottom: 8px;
}
.p007 .p009 .c001 .p017 {
	display: block;
	float: left;
	width: 702px;
	margin-left: 10px;
	overflow: hidden;
}
.p007 .p009 .c001 .p017 .c061 {
	clear: both;
	margin-bottom: 10px;
}

.p007 .p009 .c001 .p017 .c060 {
	clear: both;
	margin-bottom: 10px;
}
.p007 .p009 .c001 .p017 .c061 .c063 {
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #77C1FE;
	border-bottom-color: #77C1FE;
	border-left-color: #77C1FE;
	clear: both;
	width: 700px;
	overflow: hidden;
}
.p007 .p009 .c001 .p017 .c061 .c063 h2 {
	font-size: 14px;
	color: #333333;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
}
.p007 .p009 .c001 .p017 .c061 .c063 span {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-decoration: underline;
}
.p007 .p009 .c001 .p017 .c061 .c063 img {
	padding: 4px;
	height: 150px;
	width: 216px;
	border: 1px solid #CCCCCC;
}
.p007 .p009 .c001 .p017 .c061 .c063 div {
	display: block;
	float: left;
	width: 420px;
	overflow: hidden;
}

.p007 .p009 .c001 .p017 .c061 .c063 p {
	display: block;
	float: left;
	margin-right: 10px;
	padding: 10px;
}
.p007 .p009 .c001 .p017 .c061 .c063 td {
	font-size: 12px;
	padding: 2px;
	color: #323232;
}
.c065 {
	display: block;
	overflow: hidden;
}
.c065 img {
	padding: 4px;
	height: 80px;
	width: 136px;
	border: 1px solid #CCCCCC;
}
.c065 a {
	font-size: 12px;
	line-height: 26px;
	color: #006594;
}
.c065 a:hover {
	color: #333333;
	text-decoration: underline;
}
.c065 li {
	text-align: center;
	display: block;
	clear: both;
}
.c066 {
	clear: both;
	width: 988px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	overflow: hidden;
}
.c066 a {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
.c066 li {
	display: inline;
}

/* 官方网站CSS样式表 */
#hotel{width:970px;border:#CCCCCC 1px solid;margin-left:auto;margin-right:auto;font-size:12px;text-align:center;margin-bottom:10px;
margin-top:10px;}
#hotel ul{margin-left:20px;}
#hotel ul li{line-height:20px;margin:5px;width:120px;float:left;}
#hotel .hotel_index{width:120px;height:80px;border:#0099FF 1px solid;}
#hotel .xj{width:85px;height:14px;}
#hotel h1{text-align:left;color:#FF0000;font-size:14px;margin-left:10px;margin-top:5px;}
#hotel .h1_js{margin-left:10px;font-size:12px;color:#999999;font-weight: normal;}

.gg{width:950px;height:auto;margin-left:auto;margin-right:auto;clear:both;}

.wsn{width:960px;;height:30px;margin-left:auto;margin-right:auto;clear:both;background-image: url(../../images/web_index.jpg);background-repeat: repeat-x;
line-height:30px;}
.wsn a{text-decoration: none;color:#000000;}
.wsn a:hover{color: #FF9900;text-decoration: underline;}
.wsn span{color: #A7A7A7;
margin-left:20px;}